
.row .col-lg-3 .thumbnail a {
	text-decoration:none;
}
.thumbnail:hover {
  /* border:0.8px solid black; */
  background-color:#b0b1b2;
 }
/* 
.container {
	width:100%
} */
.row {
	display:flex
}


body {
 background: #00467F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A5CC82, #00467F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A5CC82, #00467F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
 }